.place__title {
  margin: 0;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  grid-area: place-title;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 800px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 725px) {
  .place__title {
    padding-left: 16px;
  }
}

@media screen and (max-width: 414px) {
  .place__title {
    padding-left: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}