.photo-grid {
  margin: 0 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  grid-auto-flow: dense;
}

@media screen and (max-width: 800px) {
  .photo-grid {
    margin: 0 24px;
  }
}

@media screen and (max-width: 414px) {
  .photo-grid {
    margin: 0 16px;
  }
}