.place__image {
  display: block;
  width: 460px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  grid-area: place-image;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .place__image {
    width: 340px;
    height: auto;
  }
}

@media screen and (max-width: 730px) {
  .place__image {
    width: 100%;
    height: auto;
    min-width: 320px;
    max-height: 400px;
  }
}