.place__image {
  width: 460px;
  height: 460px;
  object-fit: cover;
  grid-area: place-image;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 800px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 725px) {
  .place__image {
    width: 100%;
  }
}