.footer__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  transition: opacity .2 linear;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 480px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}