.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  grid-area: place-paragraph;
}

@media screen and (max-width: 800px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 730px) {
  .place__paragraph {
    padding: 0 16px 0;
  }
}