.root {
  /* Ограничиваем ширину страницы  */
  max-width: 1920px;
  min-width: 300px;
  /* Выравниваем по центру для больших мониторов */
  margin: 0 auto;
  box-sizing: border-box;
  /* Задаем общие отступы */
  padding: 28px 0 24px;
  /* Общий фон страницы */
  background-color: #2a2c2f;
  /* Т.к. на всей странице используется только один шрифт
  задаем его как общий */
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #fff;
  /* Сглаживаем шрифт */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 800px) {
  .root {
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 480px) {
  .root {
    padding-top: 16px;
  }
}