.root {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 28px 0 24px;
  background-color: #2a2c2f;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 800px) {
  .root {
    padding: 28px 0 24px;
  }
}

@media screen and (max-width: 414px) {
  .root {
    padding: 16px 0 24px;
  }
}